body{
    background-color: black;
    overflow: hidden;
}

.ascii_container{
    height: 100%;
    width: 100%;
}

#ascii_canvas{
    background-color: black; 
    color: rgb(53, 53, 53); 
    position: absolute; 
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%); 
    font-size: 23px;
}

#main_text{
    background-color: rgba(0, 0, 0, 0.95);
    border: 2px solid white;
    position:relative;
    width: 30%;
    height: 30%;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    min-width: fit-content;
    min-height: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin-bottom: 1%;
}

#main_container{
    position: absolute;
    max-width: 30%;
    min-width: fit-content;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

header{
    background-color: black;
    height: 50px;
    z-index: 10;
    font-size: 20px;
}

ul.headerNav{
    background-color: black;
}

ul.headerNav li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    top: 15px;
}

ul.headerNav li a{
    text-decoration: none;
    color: white;
}

ul.headerNav li a:hover{
    background-color: rgba(192, 156, 156, 0.1);
    color: white;
}

ul.headerNav li a:visited{
    color: white;
}

.sticky{
    position: sticky;
    top : 0px;
    background-color: black;
}

.link:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.link:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.link:hover{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.link:active{
    color: white;
    background-color: transparent;
    text-decoration: none;
}