
header{
    height: fit-content;
    z-index: 10;
    font-size: 20px;
}

ul.headerNav{
    background-color: rgb(0, 0, 0);
    height: fit-content;
    width: 99%;
    padding: 5px;
}

ul.headerNav li{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
}

ul.headerNav li a{
    text-decoration: none;
    color: white;
}

ul.headerNav li a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

ul.headerNav li a:visited{
    color: white;
}

.sticky{
    position: sticky;
    top : 0px;
    background-color: black;
}

body.body{
    background-color: black;
}

.Card{
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    width: 100%;
    height: fit-content;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.TopOfCard{
    display: inline-block;
    display: flex;
    margin: 0px 30px 0px 30px;
    height: fit-content;
    min-width: fit-content;
    border: 2px solid rgb(158, 158, 158);;
    background-color: black;
    max-width: 95%;
} 

.TopOfCardImg{
    align-self: center;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    margin: 20px;
    background-color: black;
}

.TopOfCardText{
}

.SummaryContainer{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .SummaryBox{
        flex:100%;
    }
}

.SummaryBox{
    display: inline-block;
    display: flex;
    border: 2px solid rgb(92, 92, 92);
    margin: 10px;
    height: 75px;
    width: fit-content;
    align-items: center;
    background-color: black;
}

.SummaryIcons{
    height: 45px;
    width: auto;
    margin: 10px;
}

.SummaryText{
    margin: 10px;
    font-size: 20px;
}

.BottomOfCard{
    margin: 30px;
    height: fit-content;
}


.breakdown{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(158, 158, 158);
    background-color: black;
}

.breakdown p{
    font-size: 25px 
}

.awards_container{
    height: 10;
    width: auto;
    display: flex;
    margin: 30px;
    padding: 30px;
    justify-content: center;
    border: 2px solid rgb(158, 158, 158);
    background-color: black;
}

.awards{
    width: auto;
    height:15vw;
    align-self: center;
    margin-right: 20px;
    margin-left: 20px;
}

.GameSummary{
    border: 2px solid rgb(158, 158, 158);;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    background-color: black;
}

.gs_smalltext{
    font-size: 18px;
}

.gs_vid{
    width:  auto;
    height: 300px;
    margin: 20px 20px 20px 20px;
    border: 2px solid rgb(92, 92, 92);
    justify-self: center;
}

.main_container{
    width: 100%;
}

.Title_Text{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 45px;
}

.element{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 70%;
    margin-inline: auto;
}

.break{
    height: 10px;
}

.link:link{
    color: white;
    background-color: transparent;
    font-size: 17px;
}

.link:visited{
    color: white;
    background-color: transparent;
}

.link:hover{
    color: white;
    background-color: transparent;
}

.link:active{
    color: white;
    background-color: transparent;
}

.ascii_container{
    height: 100%;
    width: 100%;
}

#ascii_canvas{
    background-color: black; 
    color: rgb(53, 53, 53); 
    position: fixed; 
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%); 
    font-size: 23px;
    z-index: -1;
}

.footer{
    border-top: 2px solid white; 
    color: white; 
    width: 100%; 
    height: fit-content; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}