
header{
    background-color: black;
    height: 50px;
    z-index: 10;
}

ul.headerNav{
    background-color: black;
}

ul.headerNav li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    top: 15px;
}

ul.headerNav li a{
    text-decoration: none;
    color: white;
}

ul.headerNav li a:hover{
    background-color: rgba(192, 156, 156, 0.1);
    color: white;
}

ul.headerNav li a:visited{
    color: white;
}

.sticky{
    position: sticky;
    top : 0px;
    background-color: black;
}

body.body{
    background-color: black;
}

.main_container{
    width: 100%;
}

.Title_Text{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 45px;
}

.Title_Img{

}

.element{
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 70%;
    margin-inline: auto;
}

.content{
    max-width: 100%;
    overflow-wrap: break-word;
}

.Summary{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Controbution{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.more_info{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pr_Entropy{
}

#pr_Nautuls{

}

#pr_Terain{

}

#pr_PIU{

}

#pr_Crimson{

}

.link:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.link:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.link:hover{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.link:active{
    color: white;
    background-color: transparent;
    text-decoration: none;
}